
<div>
    <%= cl_image_tag trip.photo.key, crop: :thumb, class: "info-window-img" %> <br>
</div>
<div class="marker-info">
<strong><%= trip.name %></strong> <br>
<%= " #{trip.kilometers.round} km" %> <br>
<p><strong>Difficulty: </strong>
<% trip.difficulty.times do %>
      <i class="fas fa-bolt"></i>
      <% end %></p>
 <%= link_to 'View this trip', trip_path(trip), class:'btn-window' %> <br>
</div>
