<div class="container">

<div id="map"
    style="width: 345px; height: 400px; position: sticky; top: 0 !important; right: auto !important; left: auto !important;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>



<h1> All trips:</h1>

<% @trips.each do |trip| %>
    <%= link_to trip_path(trip) do %>
    <h3> <strong><%= trip.name  %></strong></h3>
    <% end %>
    <% end %>



</div>
