// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$rid-blue: #00D3FE;
$dark-blue: #457B9D;
$rid-grey: #F6F6F6;
$dark-grey: #E8E8E8;
$rid-orange: #FF9933;
$rid-green: #1EDD88;
$rid-yellow: #FFE600;

