.booking-photo {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.booking-header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: white;
    & p {
      position: absolute;
      top: 110px;
    }
}

.booking-date p {
  font-size: 13px;
  margin-top: 11px;
  margin-bottom: 0px;
}

.status-user {
  font-weight: bold;
  color: #1EDD88;
  font-size: 16px;
}

.btn-airbnb {
  text-decoration: none;
  background-color:$rid-blue;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;

}

.equipment {
  padding-bottom: 75px;
}

.btn-equipment {
    text-decoration: none;
  background-color:$rid-blue;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}

.btn-chat {
  padding-bottom: 75px;
}
