@media(min-width: 900px) {
  .chat-container{
  display: flex;
  width: 100%;
  height: 100vh;
  }
  .left-chat{
    display: block;
    background-size: cover;
    width: 50%;
    background-position: bottom;
  }
  .right-chat{
    display: block;
    width: 50%; 
  }
}

@media(max-width: 900px) {
  .chat-container{
  display: block;
  }
  .left-chat{
    display: none;
  }
  .right-chat{
    display: block;
    width: 100%;
  }
}


.tab-content{
  margin:20px;
}
#titleh1{
  font-size:35px;
}

#pagetitle{
  color: $dark-blue;
  margin-top: 55px;
  text-align: center;
  font-weight: bold;
}

.choose-chat{
background-color: $rid-grey;
padding-right: 20px;
border-radius: 25px;
display: flex;
justify-content: space-between;
margin-left: 10px;
margin-right: 10px;
align-items: center;
text-decoration: none;
margin-top: 20px;
margin-bottom: 20px;
.upcoming-trips {
  background-color: #00D3FE;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  box-shadow: 0 0 5px lightgrey;
  color: white;
}
a{
  text-decoration: none;
}
&:hover{
  text-decoration: none;
}
}


.chat-head{
  display: flex;
  align-items: center;
  margin-top: 30px;
  .chatname {
    font-size: 16px;
    font-weight: bold;
  }
  .chat-photo{
    width:40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 15px;
  }
}

.ago{
  text-align: right;
  color:rgba(0, 0, 0, 0.342);
  width: revert;
}

.last-content{
  margin-bottom: 0px;
}

.clickable-chat{
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &:visited{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
    &:active{
      text-decoration: none;
    }
  }
}

.chat-body{
  display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 50px;
    margin-top: -10px;
}