// h1 {
//   font-size: 25px;
//   color: $dark-blue;
//   font-weight: bold;
// }
//  h2 {
//    font-size:16px;
//    font-weight: bold;
//  }

//  h3 {
//   font-size: 16px;
//   font-weight: 600 ;
// }

.avatar-position {
  text-align: center;
  margin: 20px;
  .avatar-photo {
    width: 100px;
    height: 100px;
    border: solid 2px #00D3FE;
    box-shadow: 0 0 15px lightgrey;
  }
}


.my-info {
  text-align: center;
  color: orange;
  font-weight: bold;
  font-size: 16px;
  & h2 {
    padding: 0px;
    font-size: 25px;
    margin-bottom: 0px;
    color: #457B9D;
    font-weight: bold;
  }
}

.my-stats {
  margin-top: 35px;
  & p {
    font-size: 16px;
    font-weight: bold;
    color: #457B9D;

  }
}

canvas.chartjs-render-monitor {
    display: block;
    height: 150px;
    width: 180px;
  }

.btn-mytrip {
  background-color: $rid-grey;
  padding-left: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  .upcoming-trips {
    background-color: #00D3FE;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    box-shadow: 0 0 5px lightgrey;
    color: white;
  }
}

.my-booking {
  padding-bottom: 500px;
  margin: 20px 10px 20px 10px;
  .booking-card {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .booking-trip-photo {
    border-radius: 15px;
    width: 30%;
  }
  .booking-info {
    padding-left: 20px;
  }
}
