// Specific CSS for your home-page

//COLORS
// $blue: #00D3FE;
// $dark-blue: #457B9D;
// $light-grey: #F6F6F6;
// $dark-grey: #E8E8E8;
// $orange: #FF9933;
// $green: #1EDD88;
// $yellow: #FFE600;

//  HEADER

//
#home-header {
  position: relative;
  height: 90vh;
  background-image: url(https://images.unsplash.com/photo-1491555103944-7c647fd857e6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: 80% 10%;
  padding: 30px;
  #h1home {
    margin-top: 40px;
    color: white;
    text-shadow: 0px 7px 20px #c1baba7d;
    font-size: 50px;
    padding: 40px 0px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 10px 20px #b3a9a3;
  }
  form{
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 1px 50px lightgrey;
  }
  .form-group{
    margin-bottom: 0px;
  }
  #search_location {
    background-color: rgba(255, 255, 255, 0);
      border:none;
  }
  .btn-big {
    height: 100%;
  }
  .fa-chevron-down {
    color: white;
    text-shadow: 0px 7px 20px #c1baba7d;
  }
  .fa1 {
    position: absolute;
    bottom: 40px;
    right: 30px;
  }
  .fa2 {
    position: absolute;
    bottom: 50px;
    right: 30px;
  }
  .fa3 {
    position: absolute;
    bottom: 60px;
    right: 30px;
  }
}

#home-body{
  text-align: center;
}

.filtered-search-home {
  padding: 30px;
  background: $rid-grey;
  margin: 0 40px;
  border-radius: 15px;
  .drop-difficulty-home {
    border-radius: 35px;
    margin: auto;
    border: none;
    padding: 10px 30px;
  }
  .btn-window-home {
    background-color: #00D3FE;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin: auto 0;
    padding: 10px 30px;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
  }
}

.box-card-home {
  background-color: $rid-grey;
  border-radius: 25px;
  // margin: 20px;
  .box-photo-home {
    position: relative;
    height: 150px;
    img {
      object-fit: cover;
      border-radius: 25px 25px 0 0;
      width: 100%;
      height: 100%;
    }
  }
  .box-info-home {
    padding: 20px;
    text-align: left;
    margin-bottom: 0;
    position: relative;
    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      strong {
        margin-right: 10px;
      }
    }
    h4 {
      margin: 10px 0;
    }
    i {
        color: #60666a;
    }
  }
  .show-stars {
    background: $dark-grey;
    position: absolute;
    right: 12px;
    bottom: 0;
    padding: 5px 20px;
    border-radius: 30px;
    margin: 0;
    transform: translateY(50%);

    .fa-star {
      color: #ffa900;
    }
  }
}

.box-info-home:hover {
  text-decoration: none;
}

#sign_in{

  text-decoration: none;
  color:$rid-blue;
}

#sign{
  margin-top: 10px;
}

.btn-big{
  border: none;

}

.h2-home {
  color: $dark-blue;
  font-size: 30px;
  padding: 40px;
  font-weight: bold;
  margin: 0;
}

.form-inline {
  width: 100%;
}

input.btn-big {
  width: 30%;
}

.slider-selection {
  background: $rid-blue;
  box-shadow: none;
}

.swiper-slide a:hover {
  text-decoration: none;
  color: inherit;
}

select:focus {
  outline: none;
  box-shadow: inset 0px 0px 1px 1px #0875af;
}

.form-control {
  width: 150px;
}
