// Specific CSS for your home-page

//COLORS
// $blue: #00D3FE;
// $dark-blue: #457B9D;
// $light-grey: #F6F6F6;
// $dark-grey: #E8E8E8;
// $orange: #FF9933;
// $green: #1EDD88;
// $yellow: #FFE600;

//FONTS

h1 {
  color: white;
  text-shadow: 0px 7px 10px $dark-grey;
  font-size: 70px;
  padding: 40px 0px;
  font-weight: bold;

}

h2 {
  color: $dark-blue;
  font-size: 40px;
  padding: 20px 0px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: 600 ;
}