.mapboxgl-popup-content {
  padding: 0px 0px 10px !important;
  border-radius: 10px !important;
}

.box-card {
  border: 1px thin black;
  border-radius: 10px;
  text-align: left;
  color: black;
  background-color: white;
  box-shadow: 0 0 5px lightgray;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box-info {
  margin-left: 10px;
}

.box-info h3, a {
  color: black
}


.container-card {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 25px;
  padding-bottom: 100px;
  width: 100%;
}

.container-card a {
  text-decoration: none;
}

.btn-index {
  background-color: $rid-blue;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color:white;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  position: relative;
  right: 95px;
}

.photo-index {
  border-radius: 10px 10px 0 0;
  width: 100%;
  margin-bottom: 5px;
}

.box-review {
  align-items: center;
  justify-content: center;
  margin: auto;
  p {
    margin-left: 22px;
  }
}

.info-window-img {
  object-fit: fill;
  border-style: none;
  border-radius: 10px 10px 0 0;
  width: 150px;
  height: 100px;
}

.marker-info {
  padding-left: 10px;
  justify-content: center;
  width: 150px;
  height: 120px;
  align-items: center;
  margin: auto;
}

#map {
  margin: auto 0;
  z-index: 1;
  margin-bottom: 0px;
  background-attachment: scroll;
  top: 0;
  position: fixed;
  z-index: 0;
}


.btn-window {
  background-color: #00D3FE;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
}

.fa-sliders-h {
  position: fixed;
  top: 30px;
  z-index: 1;
  left: 40px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
}

.popup-index {
  position: absolute;
  bottom: 75px;
  z-index: 10;
  right: 0px;
  font-size: 15px;
  border-radius: 15px 15px 0 0;
  /* padding: 7px; */
  align-items: center;
  text-align: center;
  margin: auto 0;
  padding: 40px;
  background-color: #F6F6F6;
  box-shadow: -1px -3px 8px #d6d1bf;
  h4 {
    color: #447B9D;
  }
}

.drop-difficulty {
  border-radius: 25px;
  margin: auto;
  border: none;
  padding: 10px 30px 10px 30px;
  box-shadow: 0 5px 15px lightgrey;
}

.drop-kilometers {
  border-radius: 10px;
  margin: auto;
  border: none;
}

#trips-index .fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
}

#trips-index .container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
  z-index: 2;
  position: absolute;
  bottom: 90px;
}

.titre-favorites {
  margin-top: 50px;
  color:  #447B9D;
  text-align: center;
}

#box-photo-index {
  height: 75px;
  img {
  border-radius: 10px 10px 0 0;
  }
}


#swipeindex {
  width: 100%;
}

#box-card-index {
  border-radius: 10px;
}

#box-info-index {
  line-height: 20px;
  padding: 15px;
  h4 {
    font-size: 23px;
  }
}

.active-marker {
}

.box-card a {
  text-decoration: none !important;
}


.marker {
  background-position: center;
}

.mapboxgl-marker {
  background-size: contain !important;
  background-repeat: no-repeat;
}


.select-wrapper {
  width: fit-content;
  margin: auto;
  position: relative;

  &:after {
    content: "\f0d7";
    position: absolute;
    height: 10px;
    width: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 12px;
    right: 12px;
    pointer-events: none;
    color: grey;
  }
}
