.trip-show-map {
  width: 100%;
  height: 400px;
  background-attachment: scroll;
  position: fixed;
  top: 0;
  z-index: 0;
  &#trip-map {
    position: fixed;
    top: 0;
  }
}

#trips-show .container {
  padding-bottom: 150px;
  padding: 20px 30px 150px 30px;
  overflow: scroll;
  z-index: 5;
  position: absolute;
  top: 400px;
  background: white;
  border-radius: 15px;
  width: 100vw;
}

#trips-show .fa-bolt{
  color: black;
  font-size: 20px;
}

.trip-photos {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#trip-photo {
  width: 125%;
  height: 100%;
}

.reviews {
  margin-top: 30px;
}

.fa-star {
  color: #ffa900;
}

.show-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: solid 1px $rid-blue;
  box-shadow: 5px 10px 20px lightgrey;
}

.review-content {
  background-color: $rid-grey;
  padding: 15px;
  color: $dark-blue;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 20px lightgrey;
}

#back {
  position: fixed;
  left: 20px;
  top: 28px;
  z-index: 4;
  text-decoration: none;
}

.back{
  color: white;
  font-weight: bold;
  text-shadow: 0px 7px 20px #6961617d;
  font-size: 20px;
}

.back:hover {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.good{
  color: #FFA900;
}

.bad{
  color: #FFA900;
}

#note{
  margin-bottom: 20px;
  font-size: 20px;
}

#heart-favorite {
  position: absolute;
  right: 30px;
  top: 130px;
  font-size: x-large
}

#heart-favorite-full {
  position: absolute;
  right: 30px;
  top: 130px;
  font-size: x-large
}
