.zero-chat{
  height: 90vh;
  text-align: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)),
    url('https://images.unsplash.com/photo-1453694595360-51e193e121fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1566&q=80');
  background-position: center;
  padding-top: 30vh;
  background-size: cover;
  padding-left:20px;
  padding-right:20px;
  h1{
    margin-bottom: 30px;
    color: white;
    // color:white;
    // text-shadow: 1px 1px 8px rgb(77, 76, 76);
  }
  p{
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
}