<%= render 'shared/avatar-black' %>
<div id='pagetitle'>
<h1>Chatrooms</h1>
<p>For future trips</p>
</div>
<% @chatrooms.each do |chat| %>
  <div>
  <% booking = Booking.find_by(chatroom_id: chat.id) %>
    <h2><%= link_to chat.name, booking_path(booking.id) %></h2>
  </div>
<% end %>