<div class="white-avatar">
  <div class="avatar-btn">
    <% if user_signed_in? %>
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key %><i class="fas fa-caret-down"></i>
      <% else %>
      <i class="fas fa-skiing-nordic"></i><i class="fas fa-caret-down"></i>
      <% end %>
    <% else %>
    <i class="fas fa-skiing-nordic"></i><i class="fas fa-caret-down"></i>
    <% end %>
  </div>

  <div class="menu-log d-none">
    <% if user_signed_in? %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </div>
</div>