<div class="footer">
  <div class="footer-links">
    <a href="/trips"><i class="fas fa-search"></i><p>search</p></a>
    <a href="#"><i class="far fa-comment-dots"></i><p>chat</p></a>
    <a href="/dashboard"><i class="fas fa-tachometer-alt"></i><p>dashboard</p></a>
    <a href="#"><i class="fas fa-heart"></i><p>saved</p></a>
  </div>
</div>

