
<p>Find me in app/views/pages/home.html.erb</p>
<div class="btn-primary"><a href="/">coucou</a></div>
<h2>test h2</h2>
<h1>Pages#home</h1>
<h3>Test de h3 semibold </h3>
<p>Find me in app/views/pages/home.html.erb</p>