

  <div class='zero-chat'>
    <%= render 'shared/avatar-white' %>
    <h1>You have no chat at the moment!</h1>
    <p>To start a chat, you need to plan a trip & be open to hike with teammates.</p>
    <p>If this trip is planed by other users the same days as you, you will be abble to chat with them 😉</p>
  </div>
