
@media (max-width: 900px) {
  .black-avatar{
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
  
@media (min-width: 900px) {
  .black-avatar{
    position: fixed;
    top: 10px;
    right: 10px;
  }
}

  
  .black-avatar{
  z-index: 7;
  justify-content: flex-end;
  width: 80px;
  text-align: end;

.fa-skiing-nordic {
  font-size: 30px;
  color:black
}

.avatar-btn img{
  width:40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 50px;
}

.fa-caret-down{
  color: black;
  margin-left: 5px;
}

.menu-log{
  a {
    text-decoration: none;
    background-color: transparent;
    color: black;
    :hover{
      text-decoration: none;
      background-color: transparent;
      color: black;
    }
  }
}
}
