.btn-big {
  background-color: $rid-blue;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
}

.btn-small {
  background-color: $rid-blue;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  a {
    text-decoration: none;
    color:white;
    font-size: 16px;
    text-transform: uppercase;
  }
}
