.booking-box{
  padding-bottom: 100px;
}

.popupbtn {
  background-color: $rid-blue;
  color: white;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  border-radius: 50px 0px 0px 50px;
  font-size: 20px;
  position: fixed;
  bottom: 90px;
  right: 0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popupframe {
  position: fixed;
  top: 10px;
  bottom: 65px;
  left: 10px;
  right: 10px;
  z-index: 100;
  border-radius: 50px;
  background-color: $rid-grey;
  text-align: center;
  padding: 20px;
}
#popup-title{
margin-top: 60px;
margin-bottom: 60px;
font-size: 20px;
font-weight: bold;
color: $dark-blue;
}

.popupclose{
  position:fixed;
  top: 40px;
  right:50px;
}

#begin-date{
  border:none;
  padding:10px;
  border-radius: 50px;
  margin: 10px 0px;
}
#booking_user_status{
  border:none;
  padding:10px;
  border-radius: 50px;
  margin: 15px 0px;
}