.booking-box{
  padding-bottom: 100px;
}

.popupbtn {
  background-color: $rid-blue;
  color: white;
  padding: 10px 15px 10px 15px !important;
  font-weight: bold;
  border-radius: 50px 0px 0px 50px;
  font-size: 20px;
  position: fixed;
  bottom: 90px;
  right: 0px;
  display: inline-block;
  cursor: pointer;
}

.popupbtn:hover {
  background-color: #01c0e6;
}
/* The actual popup */
.popupframe {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  top: 0;
  z-index: 10;
  padding: 20px !important;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  input.btn-big {
    width: 250px;
    margin: 10px 0px;
  }

  .popupframe-content {
    background-color: #F6F6F6;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    position:relative;
  }
}

#popup-title{
  font-size: 20px;
  font-weight: bold;
  color: #457B9D;
  padding: 10px 20px 10px 20px;
}

.popupclose{
  position: absolute;
  top: 15px;
  right: 20px;
}

#begin-date{
  border: none;
  padding: 10px 40px 10px 40px;
  border-radius: 50px;
  margin: 10px 0px;
  width: 250px;
  box-shadow: 0 2px 10px lightgrey;
  appearance: none;
}

#booking_user_status{
  border: none;
  padding: 10px 40px 10px 40px;
  border-radius: 50px;
  margin: 10px 0px;
  width: 250px;
  box-shadow: 0 2px 10px lightgrey;
}

